
body {
	background-image: url("../img/com/logo.jpg");
	padding-top: 60px;
	padding-bottom: 40px;
}

#profileImgS {
	width: 25px;
	height: 25px;
}


* {
	font-family: arial,sans-serif;
}

@media (min-width: 980px) {
	#cabbage{
		background-color: white;
		border:solid;
		border-color:black;
		margin-left:auto;
		margin-right:auto;
		padding:10px;
		width: 560px;
	}
}

.enq {
	border:solid;
	border-color:black;
	padding:10px;
	background-color: white;
	width: 570px;
	height: 750px;
}

	